<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :スレッドタイトル %><br />
    <%= f.text_area :content, size: "100", placeholder: "新しいスレッドのタイトル" %>
  </div>
  <p>
    <%= f.label :category, 'カテゴリ（複数選択可）' %><br>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
      <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
      <% end %>
    <% end %>
  </p>
  <div class="field">
    <%= f.label :内容 %><br />
    <%= f.text_area :text, autofocus: true, autocomplete: "text", class: 'form-control' %>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>