<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "5channel", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="hh-search">
          <%= form_tag(root_path, :method => 'get') do %>
            <%= text_field_tag :search, "キーワードを入力", {class: "search-form", id: "search-text"} %>
            <%= submit_tag '検索', :name => nil, class: "btn btn-primary search-btn" %>
          <% end %>
        </li>
        <li><%= link_to "Home",   root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>