<%= render 'shared/search_header' %>
<h1 class="hh-title">5channel</h1>
<div class="col-md-12 hh">
  <h2>スレッド一覧 </h2>
  <%= will_paginate @posts %>
  <ol class="posts">
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts%>
</div>
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-12">
      <section class="post_form">
        <h2>新しいスレッドを立てる </h2>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<% end %>
