<li class="hp" id="post-<%= post.id %>">
  <%= link_to post do %>
    <h3 class="content"><%= post.content %></h3>
  <% end %>
  <p class="hp-info">
    <span class="hp-name"><%= post.name %></span>
    <%= time_ago_in_words(post.created_at) %> ago.
  </p>
  <span>【カテゴリ】</span>
  <% post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  <% if current_user?(post.user) %>
    [<%= link_to "edit", edit_post_path(post.id) %>]
    [<%= link_to "delete", post, method: :delete,
                                     data: { confirm: "You sure?" } %>]
  <% end %>
  <h3 class="hp-text"><%= post.text %></h3>
  <div class="hp-res">
    <ol>
      <% post.comments.first(5).each do |c| %>
        <li>
          <%= c.name %> <%= time_ago_in_words(c.created_at) %> ago.
          <br />
          <%= c.content %>
        </li>
        <br />
      <% end %>
      <%= link_to post do %>
        <% if post.comments.length >= 6 %>
          <p>・</p>
          <p>・</p>
          <p>・</p>
        <% end %>
      <% end %>
    </ol>
  </div>
</li>