<%= render 'shared/header' %>
<div id="post-<%= @post.id %>">
  <div class="ps-thread">
    <h3 class="ps-content"><%= @post.content %></h3>
    <div class="ps-category">
      <span>【カテゴリ】</span>
      <% @post.categories.each do |category| %>
        <%= category.name %>
      <% end %>
      <span class="ps-timestamp">
        <%= time_ago_in_words(@post.created_at) %> ago.
      </span>
    </div>
    <p class="hp-text"><%= @post.text %></p>
  </div>
  <div class="comment-wrapper border-top">
    <div class="res">
      <h4><%= @post.content %></h4>
      <ol>
        <% @post.comments.each do |c| %>
          <li>
            <%= c.name %> <%= time_ago_in_words(c.created_at) %> ago.
            <% if c.user == current_user %>
              <%= link_to "[削除]",[@post,c], method: :delete if @post %>
            <% end %>
            <br />
            <%= c.content %>
          </li>
          <br />
        <% end %>
      </ol>
    </div>
    <div class="ps-form">
      <%= form_for [@post, @comment] do |f| %>
        <h4 class="ps-write">書き込み欄</h4>
        <div class="field">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
        </div>
        <div class="ps-text">
          <%= f.text_area :content, size:"100×100", class: 'form-control', placeholder: "書き込み欄\n(1000字以内)" %>
        </div>
        <%= f.submit "書き込む", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>