@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 110px;
  padding-bottom:100px;
  background:#dae0e6;
}

/* header */
.hh-search{
  margin-top:10px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .content {
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

// homes/home
.hh-title{
  text-align:center;
  font-family: 'Sacramento', cursive;
  margin-bottom:20px;
  font-weight:bold;
}
.hh{
  background:white;
  border:1px solid black;
  border-radius:10px;
}
.hp{
  .content{
    color:black;
    margin:0 0 10px 10px;
    &:hover{
      color:red;
    }
  }
  .hp-info{
    margin-left:10px; 
    .hp-name{
      color:green;
    }
  }
  .hp-text{
    margin-left:10px;
  }
  .hp-res{
    margin-left:10px;
    background:#cfc;
    border:1px solid black;
    border-radius:10px;
    padding:15px;
  }
}

// post/show
.ps-thread{
  background:white;
  border:1px solid black;
  border-radius:10px;
  padding:15px;
  margin-bottom:20px;
  .ps-content{
    margin:0 0 10px 0;
  }
  .ps-category{
    margin-bottom:10px;
  }
  .ps-timestamp{
    margin-left:20px;
  }
}
.res{
  background:#cfc;
  border:1px solid black;
  border-radius:10px;
  padding:15px;
}
.ps-form{
  margin:0 auto;
  margin-top:20px;
  .ps-write{
    background:#39F;
    display:inline-block;
    padding:10px;
    color:white;
    border-radius:10px;
  }
  .ps-text{
    margin-top:20px;
    margin-bottom:20px;
  }
}